{% extends "base.html" %}
{% block title %}
JAPANIZZ
{% endblock %}

{% block learn_button %}selected-navbar-button{% endblock %}

{% block content %}
{% load static %}
<a href="../account" style="position: fixed; width: 46%; height: 10%; top: 5%;left: 27%;"><div  style="position: fixed; width: 46%; height: 10%; top: 5%;left: 27%; border-radius: 20px; background-color: #00B0F0;">
<img src="{% static 'account_circle.svg' %}" style="position: absolute; top: 10%; left: 3.5%; max-height: 80%;">
<a href="../account" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #ffffff; font-size: 1.75vw; font-family: Arial, Helvetica, sans-serif; text-decoration: none;">
    {{ user.username }}
</a>
</div></a>
<a href="../logout" style="position: fixed; width: 5%; height: 10%; top: 5%;left: 67.5%;">
<img src="{% static 'logout_icon.png' %}" style="position: absolute; top: 15%; left: 15%; max-height: 70%;">
</a>
<a href="#" style="position: fixed; width: 18.7%; height: 32.6%; top: 14.7%; left: 78.3%;">
    <div style="position: fixed; width: 18.7%; height: 32.6%; top: 14.7%; left: 78.3%; border-radius: 20px; border: #A6A6A6; border-width: 2px; border-style: solid;">

    </div>
</a>
<a href="#" style="position: fixed; width: 18.7%; height: 54.5%; top: 14.7%; left: 78.3%;">
    <div style="position: fixed; width: 18.7%; height: 32.6%; top: 54.5%; left: 78.3%; border-radius: 20px; border: #A6A6A6; border-width: 2px; border-style: solid;">

    </div>
</a>

{% endblock %}
